.main-chat__group-info
  .top-items__left
    .top-items__left__group-name
      = @group.name
    .top-items__left__group-member
      .member-text
        = 'Member : '
      .member-user
        - @group.users.each do |user|
          = "#{user.name} / "
  .top-items__right
    .edit-box
      .edit-text
        = link_to edit_group_path(current_user) do
          = 'Edit'

.main-chat__message-list
  = render @messages

.main-chat__message-form
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'message-form__text', placeholder: 'type a message'
    .message-form__image
      = f.label :image, class: 'message-form__image' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'message-form__image__file'
    = f.submit 'Send', class: 'submit-btn' 