.side-bar__user-name
  .top-items
    .top-items__name
      = current_user.name
    .top-items__icons
      .left-icon
        = link_to new_group_path do
          %span.fas.fa-edit.my-white
      .right-icon
        = link_to edit_user_path(current_user) do
          %span.fas.fa-cog.my-white

.side-bar__group-list
  - current_user.groups.each do |group|
    .group-list1
      = link_to group_messages_path(group) do
        .group-list1__name
          = group.name
        .group-list1__message
          = group.show_last_message
  
